[submodule "ClassExercises/AlgorithmsDemos"]
	path = ClassExercises/AlgorithmsDemos
	url = https://github.com/ctralie/AlgorithmsDemos.git
[submodule "ClassExercises/Week1_2048/Week1_2048"]
	path = ClassExercises/Week1_2048/Week1_2048
	url = https://github.com/Ursinus-CS174-F2020/Week1_2048.git
[submodule "ClassExercises/Week5_SortingTweets/Week5_SortingTweets"]
	path = ClassExercises/Week5_SortingTweets/Week5_SortingTweets
	url = https://github.com/Ursinus-CS174-F2020/Week5_SortingTweets.git
[submodule "ClassExercises/Week1_2048/frontend-101"]
	path = ClassExercises/Week1_2048/frontend-101
	url = https://github.com/Ursinus-CS174-F2020/frontend-101.git
[submodule "Lectures/HashingLecture/AlgorithmsDemos"]
	path = Lectures/HashingLecture/AlgorithmsDemos
	url = https://github.com/ctralie/AlgorithmsDemos.git
[submodule "ClassExercises/Week6_MyCollections"]
	path = ClassExercises/Week6_MyCollections
	url = https://github.com/Ursinus-CS174-F2020/Week6_MyCollections.git
[submodule "ClassExercises/Week7_Threads"]
	path = ClassExercises/Week7_Threads
	url = https://github.com/Ursinus-CS174-F2020/Week7_Threads.git
[submodule "ClassExercises/Week8_AudioCpp"]
	path = ClassExercises/Week8_AudioCpp
	url = https://github.com/Ursinus-CS174-F2020/Week8_AudioCpp.git
[submodule "ClassExercises/Week10_Code"]
	path = ClassExercises/Week10_Code
	url = https://github.com/Ursinus-CS174-F2020/Week10_Code.git
[submodule "ClassExercises/Week11_Code"]
	path = ClassExercises/Week11_Code
	url = https://github.com/Ursinus-CS174-F2020/Week11_Code.git
[submodule "ClassExercises/Week13_RecursiveDrawing"]
	path = ClassExercises/Week13_RecursiveDrawing
	url = https://github.com/Ursinus-CS174-F2020/Week13_RecursiveDrawing.git
[submodule "ClassExercises/Week13_Recursion1"]
	path = ClassExercises/Week13_Recursion1
	url = https://github.com/Ursinus-CS174-F2020/Week13_Recursion1.git
[submodule "ClassExercises/Week14_BinarySearchTrees"]
	path = ClassExercises/Week14_BinarySearchTrees
	url = https://github.com/Ursinus-CS174-F2020/Week14_BinarySearchTrees.git
[submodule "Labs/Lab1_Holidays/Lab1_Holidays"]
	path = Labs/Lab1_Holidays/Lab1_Holidays
	url = https://github.com/Ursinus-CS174-F2020/Lab1_Holidays.git
[submodule "Labs/Lab3_ShapesInheritance/Lab3_ShapesInheritance"]
	path = Labs/Lab3_ShapesInheritance/Lab3_ShapesInheritance
	url = https://github.com/Ursinus-CS174-F2020/Lab3_ShapesInheritance.git
[submodule "Labs/Lab4_COVIDPolymorphism/Lab4_COVIDPolymorphism"]
	path = Labs/Lab4_COVIDPolymorphism/Lab4_COVIDPolymorphism
	url = https://github.com/Ursinus-CS174-F2020/Lab4_COVIDPolymorphism.git
[submodule "Labs/Lab5_MyArrayList/Lab5_MyArrayList"]
	path = Labs/Lab5_MyArrayList/Lab5_MyArrayList
	url = https://github.com/Ursinus-CS174-F2020/Lab5_MyArrayList.git
[submodule "Labs/Lab6_RoadDetection/Lab6_RoadDetection"]
	path = Labs/Lab6_RoadDetection/Lab6_RoadDetection
	url = https://github.com/Ursinus-CS174-F2020/Lab6_RoadDetection.git
[submodule "Labs/Lab7_BugHunt/Lab7_BugHunt"]
	path = Labs/Lab7_BugHunt/Lab7_BugHunt
	url = https://github.com/Ursinus-CS174-F2020/Lab7_BugHunt.git
[submodule "Assignments/HW0_Warmup/HW0_NetbeansCheck"]
	path = Assignments/HW0_Warmup/HW0_NetbeansCheck
	url = https://github.com/Ursinus-CS174-F2020/HW0_NetbeansCheck.git
[submodule "Assignments/HW1_VirtualCities/HW1_VirtualCities"]
	path = Assignments/HW1_VirtualCities/HW1_VirtualCities
	url = https://github.com/Ursinus-CS174-F2020/HW1_VirtualCities.git
[submodule "Assignments/HW1_VirtualCities/ggslac"]
	path = Assignments/HW1_VirtualCities/ggslac
	url = https://github.com/ctralie/ggslac.git
[submodule "Assignments/HW1_VirtualCities/ArtContest/ggslac"]
	path = Assignments/HW1_VirtualCities/ArtContest/ggslac
	url = https://github.com/ctralie/ggslac.git
[submodule "Assignments/HW3_DequeFires/HW3_DequeFires"]
	path = Assignments/HW3_DequeFires/HW3_DequeFires
	url = https://github.com/Ursinus-CS174-F2020/HW3_DequeFires.git
[submodule "Assignments/HW5a_BasketballHashing/HW5a_BasketballHashing"]
	path = Assignments/HW5a_BasketballHashing/HW5a_BasketballHashing
	url = https://github.com/Ursinus-CS174-F2020/HW5a_BasketballHashing.git
